In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline
from urllib.parse import unquote
from urllib import parse
pd.set_option('display.max_colwidth', -1)

In [41]:
df = pd.read_csv("search-2020-01-14T19_19_09Z.csv", sep = " ")
df["date"] = df["date"].str.replace('[', '', regex=True)
df["date_2"] = pd.to_datetime(df["date"].astype(str).str[:11], format = '%d/%b/%Y')
#df["date_2"] =  (pd.to_datetime(df["date"], format='%d/%b/%Y:%H:%M:%S').astype(str).str[:10])
df.iloc[5]

ip                        176.63.30.182
user_identifier           -
frank                     -
date                      07/Apr/2019:21:28:09
timezone                  +0000]
request                   POST /parldata/_search/template?pretty HTTP/1.1
status_code               503
size_returned_in_bytes    220
url                       -
tool                      curl/7.47.0
filters                   {  \x22id\x22: \x22filtered_query_v3\x22,  \x22params\x22: {    \x22q\x22: \x22atomer\xC5\x91m\xC5\xB1\x22,    \x22size\x22: 10  }}
date_2                    2019-04-07 00:00:00
Name: 5, dtype: object

fig = px.line(mydates, x='index', y='date_2')
fig.show()

df["terms"] = df["url"].str.findall(r'(?<=search_term=)(.*)(?=&)').astype(str)
df["szavak"] = df["terms"].apply(lambda x: unquote(x))
df['szavak1'] = df['szavak'].map(lambda x: x.replace('[^a-zA-Z]', '')).astype(str)
df['szavak1'].value_counts().reset_index().head(20)

In [45]:

df["query"] = df["url"].apply(lambda x: parse.parse_qs(parse.urlsplit(x).query))

df["query"].head()

# parse.urlsplit(m)
# parse.parse_qs(parse.urlsplit(m).query)

0    {'search_term': ['volner janos'], 'term': ['volner janos'], 'hitOpen': ['null']}
1    {'search_term': ['volner janos'], 'term': ['volner janos'], 'hitOpen': ['null']}
2    {}
3    {}
4    {}
Name: query, dtype: object

In [56]:
df = pd.read_csv("outfile3.csv", sep = "\t")
s = df["ip_term"].apply(lambda x: x.split('_'))
df["ip"] = s.apply(lambda x: x[0])
df["term"] = s.apply(lambda x: x[1])
df.head()

                      ip_term  count             ip          term
0  176.63.30.182_volner janos  2      176.63.30.182  volner janos
1  176.63.30.182_volner        2      176.63.30.182  volner
2  176.63.30.182_kepes         2      176.63.30.182  kepes
3  176.63.30.182_orban         2      176.63.30.182  orban
4  176.63.30.182_takarodj      2      176.63.30.182  takarodj

In [64]:
df = pd.read_csv("outfile4.csv", sep = "\t")
df.groupby(by=["ip", "term"])["count"].sum().reset_index().sort_values(["count"], ascending = False).head(20)

                   ip                      term  count
3012  89.133.40.178    keresztény                685
1363  188.6.100.101    privatizáció              523
101   146.110.109.154  keresztény erkölcs        135
3019  89.133.40.178    keresztény hit            132
2409  80.98.248.235    keresztény                116
493   176.63.24.192    internet                  108
3017  89.133.40.178    keresztény etika          103
3036  89.133.40.178    kereszténység             100
100   146.110.109.154  keresztény                98
2572  84.2.59.70       Kiskunfélegyháza          82
3029  89.133.40.178    keresztény nemzeti        80
3020  89.133.40.178    keresztény identitás      74
3346  94.21.203.202    komló                     71
3070  89.134.25.226    Ország adósság állománya  69
3034  89.133.40.178    keresztény érték          65
1320  188.156.217.28   szegedi híd               61
2106  62.165.202.41    privatizáció              61
3315  94.21.164.93     lovag                     57
324   176.63.18.97     családon belüli erőszak   56
3022  89.133.40.178    keresztény kultúra        56

In [73]:
tr = df.loc[df.ip == "89.133.40.178"]
tr.groupby(by=["term"])["count"].sum().reset_index().sort_values(["count"], ascending = False).head(20)#.to_csv("torokbalinti_user.csv", index = False, sep = "\t")

                         term  count
4   keresztény                 685
11  keresztény hit             132
9   keresztény etika           103
28  kereszténység              100
21  keresztény nemzeti         80
12  keresztény identitás       74
26  keresztény érték           65
14  keresztény kultúra         56
3   egyház                     39
31  kereszténység oktatás      31
0   civil társadalom           26
22  keresztény nemzeti kurzus  21
8   keresztény erkölcs         20
24  keresztény oktatás         10
7   keresztény egyház          7
5   keresztény demokrata       6
10  keresztény hatalom         5
25  keresztény állam           4
15  keresztény magyarság       4
27  keresztény értékrend       4

In [80]:
df.groupby(by=["ip"])["count"].sum().reset_index().sort_values(["count"], ascending = False).head(15).set_index("ip")

                 count
ip
89.133.40.178    1505
178.48.162.223   531
188.6.100.101    531
188.156.217.28   343
84.206.42.142    257
146.110.109.154  241
94.21.164.93     212
94.21.212.231    210
176.63.17.180    177
178.164.134.166  167
176.63.22.8      166
80.98.248.235    148
84.206.42.2      145
213.229.183.42   142
188.156.200.73   141